@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rob {
  font-family: "Roboto", sans-serif;
}
.pop {
  font-family: "Poppins", sans-serif;
}
.pop-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.rob-mono {
  font-family: "Roboto Mono", monospace;
}
.mont {
  font-family: "Montserrat", sans-serif;
}
.mont-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.noto {
  font-family: "Noto Sans JP", sans-serif;
}
.dada {
  font-family: "Didact Gothic", sans-serif;
}
.light-bold {
  font-weight: 600;
}
